# Node / pnpm
node_modules/
node_modules/
**/node_modules/
apps/web/.ignored_node_modules/
pnpm-lock.yaml

# Build outputs
dist/
.build/
.next/
out/
.vercel/
.netlify/

# Env & local
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
